body {
  background: #1c1c1c;
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.Cara1 {
  position: absolute;
  top: 0vh;
  left: 0vw;
  width: 100%;
  height: 100%;
  background: #1c1c1c;
}

.Cara2 {
  position: absolute;
  top: 100vh;
  left: 0vw;
  width: 100%;
  height: 100%;
  background: #e4e4e4;
}

.Cara3 {
  position: absolute;
  top: 200vh;
  left: 0vw;
  width: 100%;
  height: 100%;
  background: #e4e4e4;
}

.Cara4 {
  position: absolute;
  top: 300vh;
  left: 0vw;
  width: 100%;
  height: 100%;
  background: #e4e4e4;
}

.Cara5 {
  position: absolute;
  top: 400vh;
  left: 0vw;
  width: 100%;
  height: 100%;
  background:#1c1c1c;
}

.mainTitle {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 50px;
  color: #e4e4e4;
  margin: 10px;
  position: absolute;
  left: 50%;
  top: 48%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.animateTopIn {
  animation: titleReshapeIn 0.5s ease-in-out 1 normal forwards;
  transform-origin: top left;
}

.animateTopOut {
  animation: titleReshapeIn 0.5s ease-in-out 1 reverse forwards;
  transform-origin: top left;
}

.mainSubtitle {
  font-family: 'Montserrat';
  font-weight: 100;
  font-size: 20px;
  color: #e4e4e4;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}

.scrollBar {
  position: absolute;
  top: 50vh;
  right: 8%;
  z-index: 1;
  transform: translate(0px, -60px);
}

.scrollBar span {
  display: block;
  height: 18px;
  width: 18px;
  background: white;
  border-radius: 50%;
  position: absolute;
  right: 8%;
}
.scrollBar span:hover {
  cursor: pointer;
}

.scrollBar span.onZone {
  background: #9b1617;
  animation: scrollMove 0.5s ease-in-out 1;
}

.scrollBar span:nth-child(1) {
  top: 0px;
}

.scrollBar span:nth-child(2) {
  top: 40px;
}

.scrollBar span:nth-child(3) {
  top: 80px;
}

.scrollBar span:nth-child(4) {
  top: 120px;
}

.scrollBar span:nth-child(5) {
  top: 160px;
}

@keyframes scrollMove {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes titleReshapeIn {
  0% {
    transform: scale(1) translate(-50%, -50%);
  }
  100% {
    transform: scale(0.4) translate(-50%, 133vh);
  }
}

.TopBar {
  background: #1c1c1c;
  opacity: 1;
  width: 100%;
  height: 60px;
}

.idiomaContainer {
  color: #e4e4e4;
  font-family: 'Montserrat';
  font-weight: 100;
  position: absolute;
  right: 8%;
  top: 2%;
}

.idiomaContainer p{
  display:inline;
}

.idiomaContainer p:hover{
  cursor: pointer;
}

.idiomaContainer p:nth-child(1) {
  opacity: 0.5;
  padding-right:5px;
}

.idiomaContainer p:nth-child(2) {
  opacity: 0;
  display:none;
  padding-right:5px;
}

.idiomaContainer p:nth-child(3) {
  opacity: 0;
  display:none;
}

.titleSpecial{
  color: #e4e4e4;
  background-color: #1c1c1c;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%,-50%);
}

.titleSpecialBlanc{
  color: #1c1c1c;
  background-color: #e4e4e4;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%,-50%);
}

.textNosaltres{
  word-wrap: break-word;

  font-family: 'Raleway';
  font-weight: 100;
  
  position:absolute;
  top: 50%;
  left: 50%;
  width: 50vw;
  transform: translate(-50%,-50%);
}


.imageComplex{
  width: 500px;
  height: 400px;
  margin: 0px;
  position: absolute;
  top: 35%;
}

.fotoFooter{
  font-family: 'Raleway';
  font-weight: 100;
  margin:3px;
  text-align: center;
}

img{
  vertical-align: middle;
}
