body{
  background:#1C1C1C;
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
}

@font-face {
  font-family: Kiona-Regular;
  src: url('Kiona-Regular.ttf');
}

.PrimeraCara{
  position: absolute;
  top:0vh;
  left:0vw;
  width: 100%;
  height: 100%;
  background: green;
}

.SegundaCara{
  position: absolute;
  top:100vh;
  left:0vw;
  width: 100%;
  height: 100%;
  background: red;
}

.TerceraCara{
  position: absolute;
  top:200vh;
  left:0vw;
  width: 100%;
  height: 100%;
  background: blue;
}

.QuartaCara{
  position: absolute;
  top:300vh;
  left:0vw;
  width: 100%;
  height: 100%;
  background: yellow;
}

.mainTitle{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color:white;
  margin:10px;

  position: absolute;
  left: 50%;
  top:48%;
  z-index: 1;
  transform: translate(-50%,-50%);
}

.animateTopIn{
  animation: titleReshapeIn 0.5s ease-in-out 1 normal forwards;
  transform-origin: top left;
}

.animateTopOut{
  animation: titleReshapeIn 0.5s ease-in-out 1 reverse forwards;
  transform-origin: top left;
}

.mainSubtitle{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color:white;

  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%,-50%);
}

.scrollBar{
  position: absolute;
  top: 50vh;
  right: 8%;
  z-index: 1;
  transform: translate(0px,-60px);
}

.scrollBar span {
  display: block;
  height: 18px;
  width: 18px;
  background: #FFFFFF;/*Selected #9B1617 unSelected*/
  border-radius: 50%;
  position: absolute;
  right: 8%;
}

.scrollBar span.onZone {
  background: #9B1617;
  animation: scrollMove 0.5s ease-in-out 1;
}

.scrollBar span:nth-child(1) {
  top:0px;
}
.scrollBar span:nth-child(2) {
  top:40px;
}
.scrollBar span:nth-child(3) {
  top:80px;
}
.scrollBar span:nth-child(4) {
  top:120px;
}

@keyframes scrollMove {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes titleReshapeIn {
  0% {
    transform: scale(1)translate(-50%,-50%);
  }

  100% {
    transform: scale(0.4) translate(-50%,133vh);
  }
}

/*font-family: 'Roboto', sans-serif;*/
