body {
  background: #1c1c1c;
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.Cara1 {
  position: absolute;
  top: 0vh;
  left: 0vw;
  width: 100%;
  height: 100%;
  background: #1c1c1c;
}

.Cara2 {
  position: absolute;
  top: 100vh;
  left: 0vw;
  width: 100%;
  height: 100%;
  background: #e4e4e4;
}

.Cara3 {
  position: absolute;
  top: 200vh;
  left: 0vw;
  width: 100%;
  height: 100%;
  background: #e4e4e4;
}

.Cara4 {
  position: absolute;
  top: 300vh;
  left: 0vw;
  width: 100%;
  height: 100%;
  background: #e4e4e4;
}

.Cara5 {
  position: absolute;
  top: 400vh;
  left: 0vw;
  width: 100%;
  height: 100%;
  background:#1c1c1c;
}

.mainTitle {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 80px;
  color: #e4e4e4;
  margin: 10px;
  position: absolute;
  left: 50%;
  top: 48%;
  z-index: 1;
  transform: translate(-50%, -50%);
  letter-spacing: 1px;
  /*animation: goUp 0.5s ease-out 1 normal forwards;*/
}

.animateTopIn {
  animation: titleReshapeIn 0.5s ease-in-out 1 normal forwards;
  transform-origin: top left;
}

.animateTopOut {
  animation: titleReshapeIn 0.5s ease-in-out 1 reverse forwards;
  transform-origin: top left;
}

.mainSubtitle {
  font-family: 'Montserrat';
  font-weight: 100;
  font-size: 25px;
  color: #e4e4e4;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  letter-spacing: 4px;
}

.scrollBar {
  position: absolute;
  top: 50vh;
  right: 6%;
  z-index: 1;
  transform: translate(0px, -60px);
}

.scrollBar span {
  display: block;
  height: 5px;
  width: 5px;
  position: absolute;

  border: 1px solid #e4e4e4;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;

}

.scrollBar span:hover {
  cursor: pointer;
}

.scrollBar span.onZone {
  background: #9b1617;
  border: 0px;
  /*transform: translateX(-25%);*/
  animation: scrollMove 2s ease-out 1 forwards;
}

.scrollBar span:nth-child(1) {
  top: 0px;
}

.scrollBar span:nth-child(2) {
  top: 40px;
}

.scrollBar span:nth-child(3) {
  top: 80px;
}

.scrollBar span:nth-child(4) {
  top: 120px;
}

.scrollBar span:nth-child(5) {
  top: 160px;
}

@keyframes scrollMove {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(3.6);
  }
}

@keyframes scrollMove2 {
  0% {
    transform: scale(3.6);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes titleReshapeIn {
  0% {
    transform: scale(1) translate(-50%, -50%);
  }
  100% {
    transform: scale(0.4) translate(-50%, 133vh);
  }
}

@keyframes goUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.TopBar {
  background: #1c1c1c;
  opacity: 1;
  width: 100%;
  height: 60px;
}

.idiomaContainer {
  color: #e4e4e4;
  font-family: 'Montserrat';
  font-weight: 100;
  position: absolute;
  right: 8%;
  top: 2%;
}

.idiomaContainer p{
  display:inline;
}

.idiomaContainer p:hover{
  cursor: pointer;
}

.idiomaContainer p:nth-child(1) {
  opacity: 0.5;
  padding-right:5px;
}

.idiomaContainer p:nth-child(2) {
  opacity: 0;
  display:none;
  padding-right:5px;
}

.idiomaContainer p:nth-child(3) {
  opacity: 0;
  display:none;
}

.titleSpecial{
  color: #e4e4e4;
  background-color: #1c1c1c;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%,-50%);
}

.titleSpecialBlanc{
  color: #1c1c1c;
  background-color: #e4e4e4;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%,-50%);
}

.textNosaltres{
  word-wrap: break-word;

  font-family: 'Raleway';
  font-weight: 100;

  position:absolute;
  top: 50%;
  left: 50%;
  width: 50vw;
  transform: translate(-50%,-50%);
}

.imageComplex{
  position:absolute;
  top:30%;
}

.fotoFooter{
  font-family: 'Raleway';
  font-weight: 100;
  margin:3px;
  text-align: center;
}

img{
  vertical-align: middle;
}

.Formulari{
  position: absolute;
  top: 65%;
  left: 50%;
  width: 50vw;
  height: 65vh;
  transform: translate(-50%,-50%);
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 50%;
    transform: translate(-50%,0px);
}

/* On mouse-over */
.btn:hover {background: #cdc6c6;}
.default {
  color:  #e4e4e4;
  font-family: 'Raleway';
  font-weight: 100;
}
.FormulariTitle{
  color:  #e4e4e4;
  font-family: 'Raleway';
  font-weight: 100;
  margin-left: 50%;
  transform: translate(-50%,0px);
  text-align: center;
}
.inputForm{
  width: 220px;
  color:  #e4e4e4;
  font-family: 'Raleway';
  font-weight: 100;
  margin-left: 50%;
  transform: translate(-50%,0px);
  text-align: center;

  outline: none;
  background-color: #1c1c1c;
  padding: 0px;
  border-left-color: #1c1c1c;
  border-left-width: 0px;
  border-right-color: #1c1c1c;

  border-bottom-color: red;
  border-top-color: red;
  word-wrap: break-word;
  max-height: 10vh;
  max-width: 50vw;
}
.margin{
  margin-bottom: 15px;
  text-align: left;
}

.amoroso{
  position: absolute;
  left: 0px;
  top:0px;
  opacity:0.1;
  z-index: 5;
}
